/** === Layout === */
body {
    &.no-scroll {
        overflow-y: hidden;
    }
    &.admin-bar {
        .site-header {
            top: 32px;
            @media (max-width: 782px) {
                top: 46px;
            }
            @media (max-width: 600px) {
                top: 0;
            }
        }
        .main-navigation {
            top: calc(32px + var(--height-header));
            height: calc(100% - var(--height-header) - 32px);
            @media (max-width: 782px) {
                top: calc(46px + var(--height-header));
                height: calc(100% - var(--height-header) - 46px);
            }
            @media (max-width: 600px) {
                top: 46px;
                height: 100%;
                width: 100%;
            }
        }
    }
}

#page {
    position: relative;
    width: 100%;
    &:after {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        background-color: rgba($color: #000000, $alpha: 0.8);
        transition: 0.3s all ease-in-out;
        z-index: 300;
    }
    &.overlay {
        &:after {
            opacity: 1;
            visibility: visible;
        }
    }
}

.site-content {
    overflow: hidden;
}

.error-404 {
    height: 100vh;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}
